fastapi
uvicorn
langchain
langchain_openai
langchain_community
langchain_huggingface
python-dotenv
fastapi-cors
huggingface_hub
faiss-cpu
psycopg2-binary
pydantic
sqlalchemy
requests
openai
pymupdf
python-multipart
